[project]
name = "snakemake-pixi"
version = "0.1.0"
description = "A template for installing and running a snakemake workflow with pixi."
authors = ["Sibbe Bakker <sibbe.l.bakker@gmail.com>"]
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]


[tasks]
make = "snakemake --use-conda -c 1"
test = "snakemake --use-conda -c 1 -np"
t = "tree -L 3"
help  = "snakemake help -c 1 --quiet all"
update_dag = "snakemake --quiet all -c 1 'results/method.png' && mv results/method.png resources; mv resources/method.png resources/pipeline.png"

[dependencies]
graphviz = ">=9.0.0,<9.1"
curl = ">=8.7.1,<8.8"
snakemake = ">=8.10.8,<8.11"
mamba = ">=1.5.8,<1.6"
wget = ">=1.21.4,<1.22"
gzip = ">=1.13,<2"

[system-requirements]
linux="4.18"
