[project]
name = "snakemake-pixi"
version = "0.1.0"
description = "A template for installing and running a snakemake workflow with pixi."
authors = ["Sibbe Bakker <sibbe.l.bakker@gmail.com>"]
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]


[tasks]
make = "snakemake --use-conda -c 1"
test = "snakemake --use-conda -c 1 -np"
t = "tree -L 3"
help  = "bash workflow/help.sh"
make-dag = "mkdir resources; snakemake --quiet all -c 1 'results/method.png' && mv results/method.png resources; mv resources/method.png resources/pipeline.png"
make-ascii = "mkdir resources; pixi run make results/method-simple.ascii &&  mv results/method-simple.ascii resources/pipeline.ascii; cat resources/pipeline.ascii"


[dependencies]
graphviz = ">=9.0.0,<9.1"
curl = ">=8.7.1,<8.8"
snakemake = ">=8.10.8,<8.11"
mamba = ">=1.5.8,<1.6"
wget = ">=1.21.4,<1.22"
gzip = ">=1.13,<2"
tree = ">=2.1.1,<2.2"

[system-requirements]
linux="4.12.14"
